@media (max-width: 1200px) {
  html {
    font-size: 7px;
  }
  .m-menu-link {
    display: block;
  }
  .started {
    margin: 0;
  }
  .visible_lg {
    display: none;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 7px;
  }
}