*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}

h1 {
  margin: 0;
}

.freepic {
  display: block;
  float: right;
}

.m-menu-link {
  display: none;
  color: white;
  font-size: 4rem;
}

.m-menu {
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
  list-style: none;
  font-size: 3rem;
  line-height: 3;
  background-color: #6e45e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 600px;
  background: url(../img/header_background.jpeg) no-repeat center;
  background-size: cover;
  position: relative;
  color: #fff;
}

.main-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-image: linear-gradient(-150deg, #88d3ce 0%, #6e45e2 100%);
  z-index: 0;
}

.header, .footer {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.menu, .footer-menu {
  width: 50%;
}

.menu-list, .footer-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.list-item {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.list-item:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}

.started {
  margin-left: 40px;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 100px;
  text-transform: uppercase;
}

.started:hover {
  border: 1px solid #6e45e2;
  border-bottom: none;
  background-color: #6e45e2;
  cursor: pointer;
  padding-bottom: 10px;
  color: #fff;
}

.main-title {
  position: relative;
  z-index: 2;
  text-align: center;
}

.main-title span {
  display: inline-block;
}

.main-title span:after {
  content: ' ';
  width: 20px;
  height: 1px;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.main-title span:before {
  content: ' ';
  width: 20px;
  height: 1px;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.main-title h1 {
  font-size: 80px;
}

.main-arrow {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.arrow-down {
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
}

.table {
  background-color: #f9fafc;
  padding: 120px 120px 120px;
}

.table-header {
  text-align: center;
}

.table-subtitle::before {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #6e45e2;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}

.table-subtitle {
  color: #9fa4af;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.table-subtitle::after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #6e45e2;
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
}

.table-head {
  font-size: 6rem;
  color: #4f4f6f;
  line-height: 1.2;
}

.table-header__text {
  width: 385px;
  font-size: 1.5rem;
  color: #9fa4af;
  line-height: 1.75;
  margin: 0 auto;
}

.price-tags {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.price-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d7dbe8;
  text-align: center;
  border-radius: 30px;
  padding: 65px;
  transition: 0.2s;
}

.price-tag span {
  font-size: 14px;
  color: #9fa4af;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.286;
}

.price-tag h4 {
  font-size: 35px;
  font-weight: 600;
  color: #4f4f6f;
  line-height: 1.2;
  text-align: center;
}

.price-tag p {
  color: #9fa4af;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  width: 296px;
  height: 127px;
}

.price-tag .price-btn {
  border: 1px solid #d7dbe8;
  border-radius: 50px;
  background-color: white;
  padding: 1rem 6rem;
  font-size: 12px;
  color: #c2c9db;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.667;
}

.price-tag .price-btn:hover {
  background-color: #6e45e2;
  cursor: pointer;
  color: #fff;
}

.price-tag:hover {
  box-shadow: 0px 0px 40px 30px rgba(204, 204, 223, 0.9);
}

.price-tag-image {
  width: 110px;
  height: 110px;
}

.CTA {
  text-align: center;
  position: relative;
  padding: 20rem;
  color: #fff;
}

.CTA-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-image: linear-gradient(-150deg, #88d3ce 0%, #6e45e2 100%);
  z-index: -1;
}

.CTA-block {
  background-color: none;
  z-index: 5;
}

.CTA-block__subtitle {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.CTA-block__head {
  font-weight: 500;
  font-size: 4rem;
  margin: 1rem auto 2rem;
}

.CTA-block-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 43rem;
  margin: 0 auto;
}

.cta-block__btn {
  border: none;
  background-color: #fff;
  color: #c2c9db;
  width: 20rem;
  height: 5rem;
  border-radius: 30px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.4s;
}

.cta-block__btn:hover {
  background-color: #6e45e2;
  color: #fff;
  cursor: pointer;
}

.footer {
  height: 15vh;
}

.footer-list__item {
  text-decoration: none;
  color: #6a6a77;
  font-size: 16px;
  line-height: 1.188;
}

.footer-list__item:hover {
  color: #756edc;
}

.footer-started {
  margin-left: 40px;
  padding: 10px 20px;
  border-radius: 100px;
  text-transform: uppercase;
  background-color: #6e45e2;
  border: 1px solid #6e45e2;
  color: #fff;
}

.footer-started:hover {
  cursor: pointer;
}

.underline {
  width: 90%;
  height: 1px;
  background-color: #c8c8ca;
  margin: 0 auto;
}

.underline-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.copyright {
  color: #6a6a77;
  font-size: 14px;
  line-height: 1.357;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.social-icon {
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=style_pricing.css.map */