*, *:before, *:after
  box-sizing: border-box

html
	font-size: 10px

body
	margin: 0
	font-family: 'Maven Pro', sans-serif
h1
	margin: 0

@import blocks/_main	
@import blocks/_table
@import 'blocks/_price-tags'
@import 'blocks/_CTA'
@import 'blocks/_footer'
@import _colors



